*{
    box-sizing: border-box;
}
.box-container
{
    display: flex;
    flex-wrap: wrap;
}
.columns
{flex: 1;
   min-width: 300px;

}
/* .column:nth-child(1)
{
    background-color: red;
}
.column:nth-child(2)
{
    background-color: rgb(0, 255, 234);
}
.column:nth-child(3)
{
    background-color: rgb(0, 255, 34);
}
.column:nth-child(4)
{
    background-color: rgb(255, 0, 212);
} */
img{
    width: 100%;
}
